<div class="w-[155px] justify-center items-center gap-2.5 inline-flex">
  <textarea
    class="autoresizing text-neutral-600 text-[22px] font-bold font-['Inter'] h-auto"
    oninput="auto_grow(this)""
  >
Add a heading</textarea
  >
</div>
