<nav
  class="w-screen h-fit px-[21px] py-3 border-b border-neutral-400/opacity-80 mr-0 ml-0 content-center flex justify-center"
>
  <div class="max-w-screen-xl justify-between items-center inline-flex w-full">
    <div
      class="w-[108px] h-[27px] text-black text-xl font-black font-['Inter']"
    >
      DynaForm<br />
    </div>
    <div class="w-[75.85px] h-[29px] relative">
      <div
        class="w-[75.85px] h-[29px] left-0 top-0 absolute bg-neutral-800 rounded-[14.87px]"
      ></div>
      <div
        class="w-[57.54px] h-[12.69px] left-[8.92px] top-[7.44px] absolute text-center text-white text-[10.83px] font-normal font-['Inter']"
      >
        Sign up
      </div>
    </div>
  </div>
</nav>
