<div
  class="w-[170.41px] h-[23px] bg-zinc-100 rounded-2xl shadow flex-col justify-center items-center gap-2 inline-flex"
>
  <div
    class="self-stretch h-[20.84px] justify-center items-center gap-[16.73px] inline-flex"
  >
    <div class="w-[10.42px] h-[10.42px] relative">
      <svg
        width="11"
        height="11"
        viewBox="0 0 11 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.4328 2.67798H0.466614V4.33901C0.760302 4.33901 1.04196 4.45568 1.24963 4.66335C1.4573 4.87102 1.57397 5.15268 1.57397 5.44636V7.66107C1.57397 9.22687 1.57397 10.0103 2.06065 10.4965C2.54678 10.9831 3.33023 10.9831 4.89603 10.9831H6.00339C7.56974 10.9831 8.35264 10.9831 8.83877 10.4965C9.326 10.0103 9.326 9.22687 9.326 7.66107V5.44636C9.326 5.15268 9.44267 4.87102 9.65034 4.66335C9.85801 4.45568 10.1397 4.33901 10.4334 4.33901L10.4328 2.67798ZM4.61919 5.44636C4.61919 5.29952 4.56086 5.15869 4.45702 5.05486C4.35319 4.95102 4.21236 4.89269 4.06552 4.89269C3.91867 4.89269 3.77784 4.95102 3.67401 5.05486C3.57017 5.15869 3.51184 5.29952 3.51184 5.44636V8.21475C3.51184 8.36159 3.57017 8.50243 3.67401 8.60626C3.77784 8.71009 3.91867 8.76843 4.06552 8.76843C4.21236 8.76843 4.35319 8.71009 4.45702 8.60626C4.56086 8.50243 4.61919 8.36159 4.61919 8.21475V5.44636ZM7.38758 5.44636C7.38758 5.29952 7.32925 5.15869 7.22541 5.05486C7.12158 4.95102 6.98075 4.89269 6.8339 4.89269C6.68706 4.89269 6.54623 4.95102 6.44239 5.05486C6.33856 5.15869 6.28022 5.29952 6.28022 5.44636V8.21475C6.28022 8.36159 6.33856 8.50243 6.44239 8.60626C6.54623 8.71009 6.68706 8.76843 6.8339 8.76843C6.98075 8.76843 7.12158 8.71009 7.22541 8.60626C7.32925 8.50243 7.38758 8.36159 7.38758 8.21475V5.44636Z"
          fill="black"
        />
        <path
          d="M4.38 1.22182C4.44312 1.16313 4.5821 1.11108 4.77588 1.07398C4.99828 1.03444 5.22383 1.01535 5.44971 1.01695C5.69333 1.01695 5.9303 1.03689 6.12353 1.07398C6.31732 1.11108 6.45574 1.16313 6.51941 1.22237"
          stroke="black"
          stroke-width="1.10735"
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="w-[20.57px] h-[20.57px] relative">
      <svg
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.76263 12.4597L10.6821 7.54028L15.6015 12.4597"
          stroke="black"
          stroke-width="1.63981"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="w-[20.57px] h-[20.57px] relative">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.8695 7.54028L9.95002 12.4597L5.03058 7.54028"
          stroke="black"
          stroke-width="1.63981"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="w-[11.62px] h-[11.62px] relative">
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.82199 9.56984L9.12646 5.26536L7.08192 3.22081L2.77744 7.52529C2.71818 7.58462 2.67609 7.65889 2.65562 7.74021L2.17853 10.1687L4.6066 9.69166C4.68812 9.67128 4.7627 9.62913 4.82199 9.56984ZM10.5161 3.87577C10.6897 3.70205 10.7873 3.46646 10.7873 3.22081C10.7873 2.97517 10.6897 2.73958 10.5161 2.56585L9.78142 1.83122C9.6077 1.65755 9.37211 1.55999 9.12646 1.55999C8.88082 1.55999 8.64523 1.65755 8.47151 1.83122L7.73688 2.56585L9.78142 4.6104L10.5161 3.87577Z"
          fill="black"
        />
      </svg>
    </div>
    <div class="w-[12.16px] h-[12.16px] relative">
      <svg
        width="13"
        height="12"
        viewBox="0 0 13 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.71954 10.8449V1.15509M1.87463 6H11.5644"
          stroke="black"
          stroke-width="0.968982"
        />
      </svg>
    </div>
  </div>
</div>
